input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);

  padding: 0.75rem 1rem;
  font: var(--body-md);
  background-color: var(--input-base);
  color: var(--text-heading);
}

input:focus,
select:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {
  outline: 1px solid var(--brand-light);
  outline-offset: 0.1px;
}

label {
  font: var(--body-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: 0.75rem;
}

input[type="datetime-local"] {
  position: relative;
  text-transform: uppercase;
  color: var(--text-body);

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    all: unset;
    position: absolute;
    inset: 0;
  }
}
