* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-sans: "Open Sans", sans-serif;
  --font-family-baloo: "Baloo 2", sans-serif;
  --font-family-leck: "Leckerli One", cursive;

  --logo: normal 2.5rem var(--font-family-leck);
  --heading-md: bold 1.75rem var(--font-family-baloo);
  --heading-sm: bold 1.125rem var(--font-family-baloo);
  --body-md: normal 1rem var(--font-family-sans);
  --body-sm: normal 0.875rem var(--font-family-sans);
  --body-xs: normal 0.75rem var(--font-family-sans);

  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;
  --navy: #6a59ff;
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --danger: #ff5959;
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font: var(--logo);
  color: var(--pink);
}

h2 {
  font: var(--heading-md);
  color: var(--text-heading);
  margin-bottom: 2.5rem;
}

p {
  font: var(--body-md);
  color: var(--text-body);
}
